// Адаптивная верстка //
@media (max-width:1100px) {
  .container {
    /*width:600px*/
    width: calc(1100*100%/1400);
  }
  
  .page-section {
    &__img {
      background-color: #fff;
      opacity: 0.5;
    }
  }
  
  .cases {
    &__list {
      padding: 0 calc(61*100%/1100);
    }

    &__item {

      &_big {
        width: 100%;
        height: auto;
      }

      &_small {
        width: 48.5%;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      .cases__item > a:hover > & {
        letter-spacing: normal;
      }
    }
  }
  
  .services {
    padding-left: calc(128*100%/1100);
    padding-right: calc(128*100%/1100);
    
    &__video {
      width: 100%;
      min-width: 190px;
      max-width: 842px;
      height: auto;
      max-height: 476px;
    }
  }
  
  .contacts {
    &__form,
    &__text {
      width: 50%;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  
  .socials {
    &__list {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

@media (max-width: 768px) {
  .page-section {
    &__title {
      letter-spacing: normal;
    }
  }
  
  .cases {    
    &__list {
      flex-direction: column;
    }
    
    &__item {
      &_small {
        width: 100%;
      }
    }
  }
}

@media (max-width:649px) {
  .container {/*width:400px*/}
  .page-section {
    &__title {
      font-size: 50px;
      line-height: 65px;
    }
    
    &__text {
      letter-spacing: normal;
    }
  }
  
}



@media (max-width:479px) {
  .container {/*width:90%*/}
  
  .page-header {
    &__nav {
      flex-direction: column;
    }
  }
  
  .page-section {
    &__title {
      font-size: 44px;
      line-height: 65px;
    }
  }
  
  .cases {
    &__item {
      a:after {
        width: calc(100% - 2*20px);
        height: calc(100% - 2*16px);
      }
    }
    
    &__title {
      font-size: 28px;
    }
    
    &__more {
      letter-spacing: normal;
    }
  }
  
  .services {
    &__title {
      letter-spacing: normal;
    }
  }
  
  .contacts {
    &__form,
    &__text {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  
  .socials__list {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .socials__item {
    margin-right: 55px;
  }
}
// Адаптивная верстка //