@import "basics";

// Секции, header, footer и т.д. //
.page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.page-header__nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}

.page-header__logo {
  margin-right: auto;
  font-family: 'Luxia', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  
  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 34px;
    padding-top: 9px;
    font-size: 0;

    &:last-child {
      margin-right: -3px;
    }

    & a{
      margin: 0;
      padding: 0;
      font-size: 11px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2.2px;
      transition: all .25s ease-in-out;
      
      &:hover {
        color: #c0c0c0;
      }
    }
    
    &_contacts a {
      color: #fb273e;
    }
    
    &.active {
      color: #c0c0c0;
    }
  }
}

.paginator {
  position: fixed;
  top: 50vh;
  right: 0;
  margin: 0;
  padding: 0;
  width: 6vw;
  max-width: 82px;
  background-color: #fff;
  transform: translateY(-50%);
  z-index: 10;
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    margin-bottom: 47px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    a {
      display: inline-block;
      vertical-align: top;
      padding: 4px;
      padding-bottom: 5px;
      width: 100%;
      font-weight: 300;
      text-decoration: none;
      text-align: left;
      color: #585858;
      transition: all .25s ease-in-out;
      
      &:hover {
        color: #fb273e;
      }
    }
    
    &.active {
      border-bottom: 1px solid #2f2d2d;
      
      a {
        color: #000;
      }
    }
  }
}

.page-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100vh;
  box-sizing: border-box;

  &__content {
    position: relative;
    padding: 0; 

    &_shadow {
      background-color: #fff;
      z-index: -2;
      
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        box-shadow: -24px -18px 68px 0px rgba(0, 0, 0, 0.09);
      }
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1100;
      height: 503;
    }
  }

  &__text-block {
    padding-top: 97px;
    max-width: 598px;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-family: 'Luxia Display', sans-serif;
    font-size: 72px;
    line-height: 90px;
    font-weight: 580;
    letter-spacing: 9.8px;
    text-align: center;
    text-transform: uppercase;
    color: #fb273e;
  }

  &__text {
    margin: 0;
    padding: 0 10px;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-align: center;
  }
  
  &_lead {
    padding-top: 149px;
    padding-bottom: 148px;
    
    & .page-section__content {
      height: 503px;
    }
  }

  &_cases {
    padding-top: 115px;
    padding-bottom: 70px;
  }
  
  &_services {
    padding-top: 150px;
    padding-bottom: 44px;
  }
  
  &_contacts {
    justify-content: center;
    align-items: flex-end;
    padding-top: 150px;
    padding-bottom: 0;
  }
}

.cases {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 61px;
    list-style: none;
  }
  
  &__item {
    position: relative;
    font-size: 0;
    margin-bottom: 44px;
    
    a {
      position: relative;
      display: block;
      margin: 0;
      font-size: 0;
      transition: all .25s ease-in-out;
      
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .25s ease-in-out;
      }
      
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: calc(100% - 2*40px);
        height: calc(100% - 2*33px);        
        transform: translate(-50%, -50%);
        transition: all .25s ease-in-out;
        
      }
      
      &:hover:before {
        background-color: rgba(0, 0, 0, 0.7);
      }
      
      &:hover:after {
        border: 1px solid #fff;
      }
    }
    
    &_big {
      width: 977px;
      height: 460px;
    }
    
    &_small {
      width: 469px;
      height: 461px;
    }
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 14.4px;
    text-transform: uppercase;
    text-align: center;
    color: transparent/*#fff*/;
    transform: translate(-50%, -100%);
    z-index: 10;
    transition: all .25s ease-in-out;
    
    .cases__item > a:hover > & {      
      color: #fff;
    }
  }
  
  &__more {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3.2px;
    text-align: center;
    color: transparent/*#fff*/;
    transform: translate(-50%, 100%);
    transition: all .25s ease-in-out;
    
    .cases__item > a:hover > & {
      color: #fff;
    }
  }

  &__btn {
    margin-top: 21px;
    text-align: center;
  }

  &__link {
    font-weight: 100;
    letter-spacing: 2.8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fb273e;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
      color: #000;
    }
  }
}



.services {
  padding: 45px 128px 10px;

  &__title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;
  }
  
  &__video {
    width: 842px;
    height: 476px;
  }
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 57px;
    width: 37.2%;
    
    input,
    textarea {
      margin-bottom: 24px;
      padding: 12px 0;
      padding-left: 2px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.12px;
      color: #000;
      border-bottom: 1px solid #000;
      resize: vertical;
      
      &:focus::placeholder,
      &:focus {
        padding-left: 0;
        color: #fb273e;
        border-bottom-color: #fb273e;
      }
    }
    
    button {
      margin-top: 20px;
      padding: 23px 0;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2.6px;
      color: #fff;
      border: 1px solid #fb273e;
      background-color: #fb273e;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      
      &:hover {
        color: #fb273e;
        background-color: #fff;
      }
    }
  }
  
  &__text {
    margin-bottom: 51px;
    width: 27.2%;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2.8px;
    text-align: center;
    
    p{
      margin: 0;
      margin-bottom: 16px;
      padding: 0;
      line-height: normal;
    }
  }
  
  &__img {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
    
    img {
      width: 240px;
      height: 634px;
    }
  }
}

.socials {
  &__list {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 69px;
    
    &:last-child {
      margin-right: 0;
    }
    
    a {
      font-size: 0;
      
      &:hover svg{
        fill: #fb273e;
        transition: all 0.25s ease-in-out;
      }
    }
  }
}


// Секции, header, footer и т.д. //









// Всплывающие окна и другие элементы сайта //
// Всплывающие окна и другие элементы сайта //

@import "adaptive";
