@font-face {
  font-family: 'Luxia';
  src: url(../fonts/Luxia/Luxia-Semi-Bold.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Luxia Display';
  src: url(../fonts/Luxia/Luxia-Semi-BoldDisplay.otf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #000;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

.page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.page-header__nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
  background-color: #fff;
}

.page-header__logo {
  margin-right: auto;
  font-family: 'Luxia', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 34px;
  padding-top: 10px;
  font-size: 0;
}

.main-menu__item:last-child {
  margin-right: -3px;
}

.main-menu__item a{
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;  
  letter-spacing: 2.2px;
}

.main-menu__item--contacts a {
  color: #fb273e;
}

.page-section {
  position: relative;
  margin-top: 149px;
  margin-bottom: 148px;
}

.page-section__paginator {
  position: absolute;
  top: 130px;
  right: 0;
}

paginator {
  margin: 0;
  padding: 0;
}

.paginator__list {
  margin: 0;
  padding: 0;  
  width: 82px;
  list-style: none;
}

.paginator__item {
  padding: 4px;
  padding-bottom: 5px;
  margin-bottom: 47px;
}

.paginator__item:last-child {
  margin-bottom: 0;
}

.paginator__item a {
  font-weight: 300;
  text-decoration: none;
  color: #585858;
}

.paginator__item--current {
    border-bottom: 1px solid #2f2d2d;
}

.paginator__item--current a {
  color: #000;
}

.page-section__content {
  position: relative;
  padding: 0;
  min-height: 503px;
}

.page-section__content--shadow {
  box-shadow: -24px -18px 68px 0px rgba(0, 0, 0, 0.09);
}

.page-section__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.page-section__text-block {
  padding-top: 97px;
  max-width: 580px;
  margin: 0 auto;
}

.page-section__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: 'Luxia Display', sans-serif;
  font-size: 72px;
  line-height: 90px;
  font-weight: 600;
  letter-spacing: 10.8px;
  text-align: center;
  text-transform: uppercase;
  color: #fb273e;
}

.page-section__text {
  margin: 0;
  padding: 0 10px;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-align: center;
}

.page-section--cases {
  margin-top: 264px;
  margin-bottom: 70px;
}

.cases__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0 61px;
  list-style: none;
}

.cases__item {
  position: relative;
  font-size: 0;
  margin-bottom: 44px;
}

.cases__title {
  display: none;
}

.cases__btn {
  margin-top: 21px;
  text-align: center;
}

.cases__link {
  font-weight: 100;
  letter-spacing: 2.8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fb273e;
  cursor: pointer;
}

.cases__link:hover {
  color: #000;
}

.page-section--services {
  margin-top: 220px;
}

.services {
  padding: 0 128px;
}

.services__title {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3.6px;
  text-align: center;
}

